/* The body has some default parameters. */
body
{
	margin: auto;
	padding: 0;
	font-family: "Avenir Next", "Helvetica Neue", "Helvetica", sans-serif;	
	text-align: center;
}

/* The logo link to the homepage. */
#home-button{
	border: none;
}

#home-button:hover{
	opacity: .8;
}

/* Error messages*/
.error_text, .error-text {
	font-weight:bold;
	color:red;
	border: 1px solid red;
	padding: 5px;
}

/* The global top bar*/

#topbar{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: left;
	height: 40px;
	width: 797px;
	float: left;
	overflow: hidden;
	padding: 0;
	margin: 0 0 10px 0;
	clear: both;
}

/* Login form */

#topbar #login-form{
	margin: 0;
	padding: 0;
}

#topbar #login-form input{
	margin: 0;
	padding: 5px;
	font-size: 16px;
	border-left: 1px solid black;
	border-right: none;
	border-top: none;
	border-bottom: none;
	float: left;
	height: 30px;
	display: inline;
	width: 258px;
	font-weight: lighter;
}

#topbar #login-form .last-form-element{
	border-right: 1px solid black;
	border-right: 1px solid black;
	height: 40px;
	font-size: 16px;
}

/* Greeting */
#topbar #greeting{
	float: left;
	display: block;
	clear: none;
	width: 200px;
	line-height: 40px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

/* Logout form */
#topbar #logout-form{
	float: right;
	margin: 0;
	padding: 0;
	display: block;
	clear: none;
	height: 40px;
}

#topbar #logout-form input {
	height: 40px;
	width: 150px;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	clear: none;
}

/* Orange buttons in the topbar */
#topbar form .small-orange-button {
	display: block;
	color: #fff;
	background-color: #d27c1e; /* Orange */
	border: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#topbar form .small-orange-button:hover {
	background-color: #f29c3e; /* Orange */
}


/* The main content area. */
#content-area
{
	width: 800px;
	color: #a4a4a4;
	margin: 10px auto;
	text-align: left;
}

/* The description paragraphs. */
.description
{
	font-size: 24px;
	margin: 5px;
}

/* Orange buttons */

.big-orange-button {
	display: block;
	height: 70px;
	width: 345px;
	color: #fff;
	background-color: #d27c1e; /* Orange */
	border: none;
	margin: 8px;
	font-size: 18pt;
	font-weight: lighter;
	float:left;
}

.big-orange-button:hover {
	background-color: #f29c3e; /* Orange */
}

